Host node1
   Hostname node1
   User {{ ceph_user }}
Host node2
   Hostname node2
   User {{ ceph_user }}
Host node3
   Hostname node3
   User {{ ceph_user }}
Host client
   Hostname client
   User {{ ceph_user }}
